affine==2.3.0
aiofiles==0.6.0
attrs==20.3.0
cachetools==4.2.1
certifi==2020.12.5
cftime==1.4.1
chardet==4.0.0
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
cloudpickle==1.6.0
dask==2021.4.0
datacube==1.8.3
distributed==2021.4.0
fastapi==0.63.0
fsspec==2021.4.0
GDAL @ file:///D:/_PROJECTS/_SGM/sgm-opendatacube/GDAL-3.2.2-cp38-cp38-win_amd64.whl
greenlet==1.0.0
h11==0.12.0
HeapDict==1.0.1
idna==2.10
Jinja2==2.11.3
jsonschema==3.2.0
lark-parser==0.11.2
locket==0.2.1
MarkupSafe==1.1.1
msgpack==1.0.2
netCDF4==1.5.6
numpy==1.20.2
pandas==1.2.4
partd==1.2.0
psutil==5.8.0
psycopg2==2.8.6
pydantic==1.8.1
pyparsing==2.4.7
pyproj==3.0.1
pyrsistent==0.17.3
pystac==0.5.6
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
rasterio @ file:///D:/_PROJECTS/_SGM/sgm-opendatacube/rasterio-1.2.3-cp38-cp38-win_amd64.whl
requests==2.25.1
Shapely==1.7.1
six==1.15.0
snuggs==1.4.7
sortedcontainers==2.3.0
SQLAlchemy==1.4.10
starlette==0.13.6
tblib==1.7.0
toolz==0.11.1
tornado==6.1
typing-extensions==3.7.4.3
urllib3==1.26.4
uvicorn==0.13.4
xarray==0.17.0
zict==2.0.0
